<!DOCTYPE html>
<html>
<head>
<title>Dev Maxwell Karanja</title>


  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-GPJNXEF770"></script>
  <script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'G-GPJNXEF770');
  </script>


<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Onepage Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css'/>
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />	    
	    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

		
<script src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
 <script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
			});
		});
	</script>
<script src="js/index.js"></script>

<link rel="stylesheet" href="fontawesome-free-6.2.0-web\css\all.css">
<link rel="icon" href="assets\images\icon.png" sizes="32x32">
<link rel="icon" href="assets\images\icon.png" sizes="192x192">
<link rel="apple-touch-icon" href="assets\images\icon.png">
  
</head>









<body>
<div class="header" id="head">	
      <div class="container"> 
         <div class="header-top wrapper">
      		 <div class="logo">
				<a href="index.html"><img src="images/logo.png" alt=""/></a>
			 </div>
		   <div class="top-menu tmsb">
		   	<span class="menu"> </span>
			<ul>
			 	<nav class="cl-effect-5">
					<li><a class="active" href="index.html"><span data-hover="Home">home</span></a></li>
					<li><a href="#about" class="scroll"><span data-hover="about">about</span></a></li>
					<li><a href="#work" class="scroll"><span data-hover="work"><span>work</span></a></li>
					<li><a href="#services" class="scroll"><span data-hover="services">services</span></a></li>
					<li><a href="#contact" class="scroll"><span data-hover="contact">contact</span></a></li>
				</nav>
			 </ul>
			 </div>

			 <div id="sidebar">       
                <div id="menu">
                    <!-- <i class="fas fa-close" onclick="hideMenu()"></i> -->
                    <i class="fas fa-bars" onclick="showMenu()"></i>
              	</div>

			 <!--script-nav-->
			<script>
				$("span.menu").click(function(){
				$(".top-menu ul").slideToggle("slow" , function(){});
				});
			</script>
			<div class="clearfix"></div>
		 </div>  


		  <div class="index-banner">
       	   <div class="wmuSlider example1">
			   <div class="wmuSliderWrapper">
				   <article style="position: absolute; width: 100%; opacity: 0;"> 
				   	<div class="banner-wrap">
				   	       	<div class="banner_center">
				   		 		<h2>Hello Guest👋</h2> 
								<br>
				   		 		<h1>i am <span><big>Maxwell Karanja</big></span></h1>
				   		 		</div>
				   		 </div>
					</article>
				   <article style="position: relative; width: 100%; opacity: 1;"> 
				   	   	<div class="banner-wrap">
				   	      <div class="banner_center">
				   		 		<h2><big>IT</big>  is my profession</h2> 
				   		 		<h2>&</h2> 
				   		 		<h1>I am a <span>Software Engineer</span> & <span>Web Developer</span></h1>
				   		 		<h2></h2>
				   		 		</div>
				   		  </div>
				   </article>
				   <article style="position: absolute; width: 100%; opacity: 0;">
				   	  	<div class="banner-wrap">
				   	       <div class="banner_center">
				   		 		<h2>Looking Forward to working</h2> 
				   		 		<h1>and Create seamless digital experience with <span><big>You</big></span>.</h1>
				   		 		</div>
				   		 </div>
					 </article>
					 
				 </div>
				
            </div>
            <script src="js/jquery.wmuSlider.js"></script> 
			  <script>$('.example1').wmuSlider();</script> 	           	      
      </div>
	 </div>     
	</div>



	<div class="content">
		<div class="about-section" id="about" id="about">
	<div class="container">
		<div class="about-header">
			<h3>about</h3>
			<div class="about-imag">
				<img src="images/logo.png" alt=""/>
			</div>
			<div class="about-text">
					<p>Maxwell is a passionate, dedicated, certified and solution driven Full-stack Software Engineer, Web Developer.</p>	
					<p>An Innovative IT career-oriented person. Experienced in leveraging frontend and backend technologies to build and deploy custom appealing website applications. </p>
			</div>
			<div class="clearfix"></div>
		</div>


			<div class="about-sectiongrids">
				<h3 style="margin-top: 20%; margin-bottom: 5%; color: antiquewhite;"><center>Skills Set</center></h3>


				<div class="col-md-6 about-leftgrid">
					<div class="polls">
						<div class="poll">
							<div class="poll-desc">
								<h4>Python Django</h4>
							</div>
							<div class="percentage">
								<p>85%</p>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="skills">
							<div style="width:85%"> </div>
						</div>
						<div class="poll">
							<div class="poll-desc">
								<h4>MySQL Database</h4>
							</div>
							<div class="percentage">
								<p>80%</p>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="skills">
							<div style="width:80%"> </div>
						</div>
					</div>
					<div class="polls">
						<div class="poll">
							<div class="poll-desc">
								<h4>Html</h4>
							</div>
							<div class="percentage">
								<p>70%</p>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="skills">
							<div style="width:70%"> </div>
						</div>
					</div>
					<div class="polls">
						<div class="poll">
							<div class="poll-desc">
								<h4>CSS</h4>
							</div>
							<div class="percentage">
								<p>70%</p>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="skills">
							<div style="width:65%"> </div>
						</div>
					</div>
					<div class="polls">
						<div class="poll">
							<div class="poll-desc">
								<h4>JavaScript</h4>
							</div>
							<div class="percentage">
								<p>60%</p>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="skills">
							<div style="width:60%"> </div>
						</div>
					</div>
					<div class="polls">
						<div class="poll">
							<div class="poll-desc">
								<h4>React JS</h4>
							</div>
							<div class="percentage">
								<p>30%</p>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="skills">
							<div style="width:30%"> </div>
						</div>
					</div>
					<div class="polls">
						<div class="poll">
							<div class="poll-desc">
								<h4>Python</h4>
							</div>
							<div class="percentage">
								<p>70%</p>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="skills">
							<div style="width:70%"> </div>
						</div>
					</div>
					<br><br>
					<div class="polls">
						<div class="poll">
							<div class="poll-desc">
								<h4>Transcription</h4>
							</div>
							<div class="percentage">
								<p>Above average</p>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="skills">
							<div style="width:70%"> </div>
						</div>
					</div>
					<div class="polls">
						<div class="poll">
							<div class="poll-desc">
								<h4>Data Entry & Microsoft Office</h4>
							</div>
							<div class="percentage">
								<p>Above average</p>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="skills">
							<div style="width:70%"> </div>
						</div>
					</div>
				</div>
			
			<div class="col-md-6 about-rightgrid">
				<div class="certs">
					<a href="assets/data/CV_MAXWELL-KARANJA.pdf" download="CV_MAXWELL-KARANJA.pdf" target="_blank">
						<button type="button" class="button" onclick="openPopup()">Resume</button>
						<i class="fas fa-download"></i>
					</a>
					<a href="assets/data/WEB_DESIGN_CERTIFICATE-MAXWELL_KARANJA.pdf" download="WEB_DESIGN_CERTIFICATE-MAXWELL_KARANJA.pdf" target="_blank">
						<button type="button" class="button" onclick="openPopup()">Web Design</button>
					</a>
					<a href="assets/data/DIGITAL_MARKETING_GOOGLE-MAXWELL_KARANJA.pdf" download="DIGITAL_MARKETING_GOOGLE-MAXWELL_KARANJA" target="_blank">
						<button type="button" class="button">Digital Marketing</button>
						<i class="fas fa-download"></i>
					</a>
				</div>
			</div>
			<div class="clearfix"></div>
	</div>
	<div class="arrow1">
		<a href="#work" class="scroll"><i class="fas fa-arrow-alt-circle-down" aria-hidden="true" style="color: yellow; font-size: 22px;"></i></a>

		  
	</div>
	</div>
	</div>
	<!-- about-section-ends -->
	<div class="works-section" id="work" id="work">
	   <div class="works-header">
			<h3>Projects</h3>
				<p></p>
		</div>
		<div class="portfolio-section-bottom-row" id="portfolio">
			<div class="container">
				
						<script src="js/easyResponsiveTabs.js" type="text/javascript"></script>
					<script type="text/javascript">
						$(document).ready(function () {
							$('#horizontalTab').easyResponsiveTabs({
								type: 'default', //Types: default, vertical, accordion           
								width: 'auto', //auto or any width like 600px
								fit: true   // 100% fit in a container
							});
						});
						
					</script>
						<link rel="stylesheet" href="css/swipebox.css">
							<script src="js/jquery.swipebox.min.js"></script> 
								<script type="text/javascript">
									jQuery(function($) {
										$(".swipebox").swipebox();
									});
								</script>
							<!-- Portfolio Ends Here -->
						<div class="sap_tabs">
							<div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
								  <ul class="resp-tabs-list">
									  <li class="resp-tab-item" aria-controls="tab_item-0" role="tab"><span>All</span></li>
									  <li class="resp-tab-item" aria-controls="tab_item-1" role="tab"><span>Github</span></li>
									  <li class="resp-tab-item" aria-controls="tab_item-2" role="tab"><span>Live Websites</span></li>
									  <div class="clearfix"></div>
								  </ul>	
								<div id="portfoliolist">
									<div class="resp-tabs-container">
										<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
											<div class="tab_img">
													<div class="col-md-3 img-top grid_box">
														<a href="images\portfolio.jpg" class="swipebox"  title="Image Title">
															  <img src="images\portfolio.jpg" class="img-responsive" alt="">
															  <span class="zoom-icon"></span> 
														</a>
													</div>
													<div class="col-md-3 img-top grid_box">
														<a href="images\beachapp.jpg" class="swipebox"  title="Image Title">
															  <img src="images\beachapp.jpg" class="img-responsive" alt="">
															  <span class="zoom-icon"></span> 
														</a>
													</div>
													<div class="col-md-3 img-top grid_box">
														<a href="images\yt-converter.jpg" class="swipebox"  title="Image Title">
															  <img src="images\yt-converter.jpg" class="img-responsive" alt="">
															  <span class="zoom-icon"></span> 
														</a>
													</div>
													<div class="col-md-3 img-top grid_box">
														<a href="images\weatherapp.jpg" class="swipebox"  title="Image Title">
															  <img src="images\weatherapp.jpg" class="img-responsive" alt="">
															  <span class="zoom-icon"></span> 
														</a>
													</div>
													<div class="col-md-3 img-top grid_box">
														<a href="images\socialnetwork app.jpg" class="swipebox"  title="Image Title">
															  <img src="images\socialnetwork app.jpg" class="img-responsive" alt="">
															  <span class="zoom-icon"></span> 
														</a>
													</div>
													<div class="col-md-3 img-top grid_box">
														<a href="images\M-khan_softwebs_logo.jfif" class="swipebox"  title="Image Title">
															  <img src="images\M-khan_softwebs_logo.jfif" class="img-responsive" alt="">
															  <span class="zoom-icon"></span> 
														</a>
													</div>
													<div class="col-md-3 img-top grid_box">
														<a href="images\blog_app.jpg" class="swipebox"  title="Image Title">
															  <img src="images\blog_app.jpg" class="img-responsive" alt="">
															  <span class="zoom-icon"></span> 
														</a>
													</div>
													<div class="clearfix"></div>	
											</div>
																				 
										</div>


										<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-1">
											<div class="tab_img">
												<div class="col-md-3 img-top grid_box">
													<a href="images\portfolio.jpg" class="swipebox"  title="Image Title">
														  <img src="images\portfolio.jpg" class="img-responsive" alt="">
														  <span class="zoom-icon"></span> 
													</a>
												</div>
												<div class="col-md-3 img-top grid_box">
													<a href="images\beachapp.jpg" class="swipebox"  title="Image Title">
														  <img src="images\beachapp.jpg" class="img-responsive" alt="">
														  <span class="zoom-icon"></span> 
													</a>
												</div>
												<div class="col-md-3 img-top grid_box">
													<a href="images\yt-converter.jpg" class="swipebox"  title="Image Title">
														  <img src="images\yt-converter.jpg" class="img-responsive" alt="">
														  <span class="zoom-icon"></span> 
													</a>
												</div>
												<div class="col-md-3 img-top grid_box">
													<a href="images\weatherapp.jpg" class="swipebox"  title="Image Title">
														  <img src="images\weatherapp.jpg" class="img-responsive" alt="">
														  <span class="zoom-icon"></span> 
													</a>
												</div>
												<div class="col-md-3 img-top grid_box">
													<a href="images\socialnetwork app.jpg" class="swipebox"  title="Image Title">
														  <img src="images\socialnetwork app.jpg" class="img-responsive" alt="">
														  <span class="zoom-icon"></span> 
													</a>
												</div>
													
													<div class="clearfix"></div>	
											</div>	 	        					 
										</div>


										<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-2">
											
											<div class="tab_img">
												<div class="col-md-3 img-top grid_box">
													<a href="images\M-khan_softwebs_logo.jfif" class="swipebox"  title="Image Title">
														  <img src="images\M-khan_softwebs_logo.jfif" class="img-responsive" alt="">
														  <span class="zoom-icon"></span> 
													</a>
												</div>
												<div class="col-md-3 img-top grid_box">
													<a href="images\blog_app.jpg" class="swipebox"  title="Image Title">
														  <img src="images\blog_app.jpg" class="img-responsive" alt="">
														  <span class="zoom-icon"></span> 
													</a>
												</div>
													
														<div class="clearfix"></div>
											</div>		        					 
										</div>


										<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-3">
											<div class="tab_img">
													<div class="col-md-3 img-top grid_box">
														<a href="images/pic-1.jpg" class="swipebox"  title="Image Title">
															  <img src="images/pic-1.jpg" class="img-responsive" alt="">
															  <span class="zoom-icon"></span> 
														</a>
													</div>
													<div class="col-md-3 img-top grid_box">
														<a href="images/pic-2.jpg" class="swipebox"  title="Image Title">
															  <img src="images/pic-2.jpg" class="img-responsive" alt="">
															  <span class="zoom-icon"></span> 
														</a>
													</div>
													
														<div class="clearfix"></div>
											</div>	
										</div>
										<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-4">
											<div class="tab_img">
													<div class="col-md-3 img-top grid_box">
														<a href="images/pic-1.jpg" class="swipebox"  title="Image Title">
															  <img src="images/pic-1.jpg" class="img-responsive" alt="">
															  <span class="zoom-icon"></span> 
														</a>
													</div>
													
														<div class="clearfix"></div>
											</div>	
										</div>										
									</div>	
								</div>
							</div>
						</div>				
 
				<div class="arrow">
					<a href="#services" class="scroll"><img src="images/arrow.png" alt=""/></a>
				</div>
			</div>
		</div>
	</div>
	<!-- portfolio-section-ends -->
	<div class="services-section" id="services">
			<div class="container"> 
			<div class="services-header">
				<h3>Services that I Offer:</h3>
					<p>I am proficient in IT task that revolve around Web Development. I also offer transcription and data entry services.</p>
			</div>
			<div class="services-sectiongrids">
				<div class="col-md-4 services-grid">
					<i class="fas fa-code"></i>
					<h4>Web Design & Development</h4>
					<p>I design and I develop user friendly and fully functional websites and link them to a database for full user experience.</p>
				</div>
				<div class="col-md-4 services-grid">
					<i class="fas fa-clone"></i>
					<h4>Web Cloning</h4>
					<p>Do you need a expert in developing exact replicas or lookalike for other websites? Then you have come to the right place.</p>
				</div>
				<div class="col-md-4 services-grid">
					<i class="fas fa-comments"></i>
					<h4>Web Consultancy</h4>
					<p>With 3 years experience in the field, from backend web administration, database administration and hosting services. I will give insights of which technologies to use that matches client need. </p>
				</div>
				<div class="col-md-4 services-grid">
					<i class="fas fa-austral-sign"></i>
					<h4>APIs Development</h4>
					<p>Application Programming Interface. I offer Digital Payment Intergrations APIs development and checkouts for websites such as e-Commerce websites. </p>
				</div>
				<div class="col-md-4 services-grid">
					<i class="fas fa-file-audio"></i>
					<h4>Transcription</h4>
					<p>I will transcribe an English audio or video to text with utmost professionalism. I will also transcribe and translate an English video or audio to Kiswahili text and vice versa.</p>
				</div>
				<div class="col-md-4 services-grid">
					<i class="fas fa-computer"></i>
					<h4>Data Entry and Officework</h4>
					<p>You might need help arranging your work documents or data. I can help you get started right away.</p>
				</div>
				
				<div class="clearfix"></div>
				<div class="arrow1">
					<a href="#contact" class="scroll"><img src="images/arrow1.png" alt=""/></a>
					</div>
		</div>
		</div>
		</div>
		<!-- services-section-ends -->
	</div>
	<div class="footer-section" id="contact" id="contact">
			<div class="container"> 
			<div class="contact-header">
				<h3> contact</h3>
					<p>Don't be shy! <br>If you have a project in mind <big>OR</big> would like: Booking me  OR Get a quote for a project OR Just like to say hello</p>
					
					<p>I am a very friendly person. Simply get in touch via my social media handles below <i class="fas fa-hand-point-down"></i> </p>	  
						
			</div>


			<div class="social-tray">
				<center>
					<a href="https://www.facebook.com/dev.maxwell.k"><i class="fab fa-facebook" style="font-size: 50px; background-color: rgb(32, 80, 184); border-radius: 50%; color: #fff; margin: 12px;"></i></a>
					<a href="https://twitter.com/dev_Max_Well"><i class="fab fa-twitter" style="font-size: 50px; color: rgb(37, 150, 226); border-radius: 50%; background-color: #fff; margin: 12px;"></i></a>
					<a href="https://www.linkedin.com/in/dev-maxwell-karanja-715986252"><i class="fab fa-linkedin" style="font-size: 50px; background-color: rgb(32, 80, 184); border-radius: 50%; color: #fff; margin: 12px;"></i></a>
					<a href="https://wa.link/uoxqvk"><i class="fab fa-whatsapp" style="font-size: 50px; background-color: rgb(26, 179, 12); border-radius: 50%; color: #fff; margin: 12px;"></i></a>
				</center>
			</div>
			<br><br><br>

			<div class="em-ph">
				<p>Email <i class="fas fa-envelope"></i> or text Me via <i class="fas fa-sms"></i>:</p>
				<br>
				<div class="em-ph-det">
						<a href="mailto:devmaxwellkaranja@gmail.com">
							<button type="button" class="button">devmaxwellkaranja@gmail.com</button>
						</a>
						<a href="SMS:+254 715 063 221">
							<button type="button" class="button">+254 715 063 221</button>
						</a>
				</div>	
			</div>

			<br><br><br><br><br><br>

			<div class="contact">
				<form>
					<div class="col-md-4 contactgrid">
						<input type="text" class="text" value=" name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = ' name';}">
					</div>
					<div class="col-md-4 contactgrid">
						<input type="text" class="text" value="email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'email';}">
					</div>
					<div class="col-md-4 contactgrid">
						<input type="text" class="text" value="phone" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'phone';}">
					</div>
					<div class="col-md-8 contactgrid1">
						<textarea onfocus="if(this.value == 'Your Message') this.value='';" onblur="if(this.value == '') this.value='Your Message';" >Your Message</textarea>
					</div>
					<div class="col-md-4 contactgrid2">
						<input type="submit" value="[send message]">
					</div>
				   <div class="clearfix"></div>
				</form>
			</div>
			<div class="footer-bottom">

					<p>&copy; 2023 All rights  Reserved<a href="#" target="target_blank">Dev Maxwell</a></p>

					</div>
					<script type="text/javascript">
						$(document).ready(function() {
							/*
							var defaults = {
					  			containerID: 'toTop', // fading element id
								containerHoverID: 'toTopHover', // fading element hover id
								scrollSpeed: 1200,
								easingType: 'linear' 
					 		};
							*/
							
							$().UItoTop({ easingType: 'easeOutQuart' });
							
						});
					</script>
				<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
</div>

		</div>		
	</div>
	
</body>
</html>